.black-button {
  padding: 10px 20px;
  color: #FFF;
  background-color: #000;
}

.transparent-button {
  padding: 12px 28px;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFF;
  border: 2px solid #FFF;
  background-color: transparent;
}