footer.footer
	.footer__info
		.container.container--footer
			.footer__item.col-4
				h3.footer__title О магазине
				p.footer__text.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra nunc cursus tortor lectus nunc nulla nibh. Egestas amet consectetur vel vitae aliquam dictum suspendisse. Lobortis eget consequat, tellus et et sed turpis. Pretium quisque vitae, amet, porttitor odio ultricies massa pharetra leo. Et ipsum urna fames in sit mi ultrices nisi, nunc.
			.footer__item.footer__item--categories.col-4
				h3.footer__title Категории
				.footer__buttons
					button.black-button часы
					button.black-button браслеты
					button.black-button ремни
					button.black-button ювелирные изделия
					button.black-button запонки
			.footer__item.footer__item--mailing.col-4
				h3.footer__title Рассылка
				p.footer__text.footer__text--mailing.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra nunc cursus tortor lectus nunc nulla nibh.
				form.footer__form
					input.mailing-form(type="text" placeholder="Ваша почта")
					button.black-button подписаться

	.footer__contacts
		.container.container--footer
			span.footer__copyright © 2020 Все права защищены
			span.footer__editor Сделано Figma.info