//COMMON STYLES
body {
	font-family: $main-font;
	font-size: 14px;
	line-height: 150%;
	color: #FFF;
	background-color: #000;
}

h2 {
	@extend %h2-font;
	position: relative;
}

h2:after {
	position: absolute;
	margin: auto;
	display: block;
	content: '';
	bottom: -40px;
	left: 0;
	right: 0;
	width: 120px;
	height: 1px;
	background-color: #FFF;
}

h3 {
	@extend %h3-font;
}

.container {
	padding: 0;
	width: 1110px;
}

.item {
	font-family: $headline-font;
	text-align: left;

	&__img {
		margin-bottom: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 260px;
		height: 325px;
		background-color: #191B1C;
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__model {
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 24px;
	}

	&__price {
		font-size: 16px;
		line-height: 21px;
	}
}

// CONTENT
//section FIRST-SCREEN
.first-screen {
	padding: 160px 0 155px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../img/first_screen.jpg) no-repeat;
	background-size: cover;

	&__logo {
		margin-bottom: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 320px;
		height: 320px;
		border: 4px solid #FFF;
	}

	&__text {
		max-width: 730px;
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
	}
}

//section NEW
.new {  
	display: flex;

	&__title {
		position: relative;
	}

	&__title:after {
		bottom: -50px;
	}

	&__season {
		padding: 93px 80px;
		display: flex;
		flex-direction: column;
		align-items: center;

		h2 {
			margin-bottom: 100px;
		}
	}

	&__products {
		display: flex;
		justify-content: center;
	}

	&__item {
		margin-right: 50px;
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__collection {
		padding: 100px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		background: url(../img/new_collection.png) no-repeat;
		background-size: cover;

		h2 {
			margin-bottom: 60px;
		}

		h2:after {
			bottom: -30px;
		}
	}
}

//section LAST-COLLECTION
.last-collection {
	display: flex;

	&__info {
		padding-top: 100px;
		padding-bottom: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__text {
		margin-bottom: 60px;
		max-width: 470px;
		text-align: center;
	}

	&__title {
		position: relative;
		margin-bottom: 80px;
	}
}

//section NEW-GOODS
.new-goods {
	padding-top: 120px;
	padding-bottom: 150px;
	text-align: center;

	&__title {
		margin-bottom: 120px;
	}

	&__products {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		column-gap: 23px;
		row-gap: 40px;
	}
}

//section OUR-BRANDS
.our-brands {
	padding-top: 60px;
	padding-bottom: 75px;
	text-align: center;
	background-color: #0F0F0F;

	&__title{
		margin-bottom: 80px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}
}